{% load static %}

<html>
<body style="background-color: rgb(89, 151, 95);">
    <header style="font-size: 30px;"> Todos </header>
    
    <div id="ab" style="border-style: solid;border-color: black;">
        {% for a in alltodos %}
        <div  class="maintable" style="display: flex;flex-direction: row;">
            <div style="width:300px;margin-left:20px;">
                {{a.Description}}
            </div>

            <div style="margin-left:20px;margin-right:20px;width:150px;">
                {{a.AssignedPerson.Name}}
            </div>
            
            <div style="width:200px;">
            {{a.Catagory.Name}}
            </div>

            {% if a.Finished == True %}
            <img src="{% static 'done.png' %}" width="25" height="25" style="margin-left:30px;margin-right:30px;" onclick='taskCompleteSwitch(this,"{{a.pk}}")'>
            {% else %}
            <img src="{% static 'notdone.png' %}" width="25" height="25" style="margin-left:30px;margin-right:30px;" onclick='taskCompleteSwitch(this,"{{a.pk}}")'>
            {% endif %}
            
            <img src="{% static 'trashcan.png' %}" width="25" height="25" style="margin-left:10px;margin-right:10px;" onclick='deleteTodo(this,"{{a.pk}}")'>
        </div>
        {%endfor%}
    </div>

    <a href="/addTodo" style="font-size:24px;margin-left:40px;"> New Todo </a>
    <a href="/addPerson" style="font-size:24px;margin-left:80px;"> New User </a>
    <a href="/addCatagory" style="margin-left:30px;font-size:24px;"> New Catagory </a>
</body>


</html>

<script>
    //const csrftoken = '{{ csrf_token }}';

    function taskCompleteSwitch(imageControl,ID){
        let doneURL = "{% static 'done.png' %}";
        let undoneURL = "{% static 'notdone.png' %}";

        fetch('/api/todo/toggle/' + ID, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
            //'X-CSRFToken': csrftoken
        }
        })
        .then(response => {
            // This 'response' is the Response object from the fetch API
            if (!response.ok) {
                // Handle HTTP errors
                alert("HTTP Error.");
                return;
            }
            // Parse the response body as JSON
            return  response.json();
        })
        .then(jsonResponse => {
            // This 'jsonResponse' is the parsed JSON data
            if(jsonResponse.completed){
                imageControl.src = doneURL;
            }
            else{
                imageControl.src = undoneURL;
            }
        })
        .catch(error => {
            alert('There was a problem with the fetch operation:', error);
        });
    }

    function deleteTodo(clickedTodoControl,todoID){
        if(confirm("Would you like to delete todo?")){
            var row = clickedTodoControl.parentNode;
            row.parentNode.removeChild(row);

            fetch('/api/todo/delete/' + todoID, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
                //'X-CSRFToken': csrftoken
            }
            })
            .then(response => {
                // This 'response' is the Response object from the fetch API
                if (!response.ok) {
                    // Handle HTTP errors
                    alert("HTTP Error.");
                    return;
                }
                // Parse the response body as JSON
                return  response.json();
            })
            .then(jsonResponse => {
                // This 'jsonResponse' is the parsed JSON data
                if(!(jsonResponse.completed)){
                    alert("Api error.");
                }
            })
            .catch(error => {
                alert('There was a problem with the fetch operation:', error);
            });
        }
    }
</script>

<style>
    *{
        font-family:Arial, Helvetica, sans-serif;
        font: size 60px;
    }

    div {
        font-size:24px;
    }

    .maintable:nth-child(even){
        background-color: rgb(255, 255, 255);
    }

    .maintable:nth-child(odd){
        background-color: rgb(203, 248, 226);
    }

    .maintable.maintable:focus{
        background-color: black;
    }

    #ab {
        width:600px;
        margin-left:20px;
        margin-top:5px;
    }
</style>